  body {
    background-color: #e7e7de;
  }

  hr {
    border-color: white;
    border-style: dotted none none none;
    width: 7%;
    border-width: 5px;
  }

  h1 {
    font-family:sans-serif;
    font-size: 40px;
    color: #7c9473;
    word-spacing: -1px;
  }

  h3 {
    font-family: monospace;
    font-size: 18px;
    color: #7c9473;
    font-stretch: ultra-condensed;
    word-spacing: -5px;
  }
